<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>

    <div class="floating-header">
      <div class="site-title">
        Ethics in Networks Research
      </div>

      <div class="site-nav">
        <a href="#overview">Overview</a> |
        <a href="#main-recommendations">Recommendations</a> |
        <a href="#background">Background</a> |
        <a href="#contributors">Contributors</a> |
        <a href="#endorsements">Endorsements</a>
      </div>
    </div>

    <div id="page">

      <aside id="sidebar">
        <div class="inner">

          {% if page.sidebar_image %}
            <img class="avatar" src="{{ page.sidebar_image | relative_url }}" alt="">
          {% endif %}

          <h1 class="sidebar-title">
            {{ page.sidebar_title | default: site.sidebar_title | default: site.title }}
          </h1>

          <p class="tagline">
            {{ page.sidebar_description | default: site.sidebar_description | default: site.description }}
          </p>

        </div>
      </aside>

      <main id="content">
        <article class="inner">

          <div class="content-spacer"></div>

          {{ content }}

        </article>
      </main>

    </div>
  </body>
</html>
